---
// No frontmatter needed for this static component
---

<footer class="bg-gray-800 py-8">
  <div class="container mx-auto px-4 text-center text-gray-400">
    <p>&copy; 2024 E2E Awesome Winning App. All rights reserved.</p>
    <div class="mt-4">
      <a href="#" class="px-2 hover:text-white">Twitter</a>
      <a href="#" class="px-2 hover:text-white">GitHub</a>
      <a href="#" class="px-2 hover:text-white">LinkedIn</a>
    </div>
  </div>
</footer>
